{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><i>Welcome</i> to NEWT</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
    {% if user.is_authenticated %}
        <h3>You're a generic user, so you can only view Enablement Requests via the "Locate" search box</h3>
    {% else %}
        <h3>You can Log In, or Register, or just browse the Enablement Requests via the "Locate" search box</h3>
    {% endif %}
      </div>


{% endblock %}

