{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h2>Enablement Requests matching "*{{ locate_identifier }}*":</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="well" style="max-height: 800px; overflow-y:scroll;">
      {% if objects %}
        <table class="table table-hover">
          <thead><tr>
            <th>ID</th>
            <th>Customer Name</th>
          </tr></thead>
          <tbody>
            {% for object in objects %}
                <tr>
                  <td><a href="{{ object.get_absolute_url }}">{{ object.identifier }}</a></td>
                  <td>{{ object.customer_name }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h4>Sorry, but there were no matching Enablement Requests!</h4>
      {% endif %}
      </div>
{% endblock %}
