{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h3 class="col-lg-4">Enablement Request:</h3>
          <h3 class="col-lg-3 text-right">{{ object.identifier }}</h3>
        </div>
      </div>
    </div>

    <div class="container">
    {% if object.parent_identifier %}
        <div class="row">
          <p class="lead col-md-4">Parent Identifier:</p>
          <p class="lead col-md-3">{{ object.parent_identifier }}</p>
        </div>
    {% endif %}


    <div class="row">
      <p class="lead col-md-4">Customer Name:</p>
      <p class="lead col-md-3 text-right">{{ object.customer_name }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Short Term Revenue:</p>
      <p class="lead col-md-3 text-right">${{ object.short_term_revenue|intcomma }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Sales Initiator:</p>
      <p class="lead col-md-3 text-right">{{ object.sales_initiator.username }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Submitted on:</p>
      <p class="lead col-md-3 text-right">{{ object.creation_timestamp }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Current State:</p>
      <p class="lead col-md-3 text-right">{{ object.current_state }}</p>
    </div>
    {% if object.current_state == 'Completed' %}
        <div class="row">
            <p class="lead col-md-4">Completed on:</p>
            <p class="lead col-md-3 text-right">{{ object.completion_timestamp }}</p>
        </div>
    {% endif %}
    <div class="row">
      <p class="lead col-md-4">Assigned Engineer:</p>
      <p class="lead col-md-3 text-right">{{ object.assigned_engineer }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">OS Type:</p>
      <p class="lead col-md-3 text-right">{{ config_details.os_type }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">OS Version:</p>
      <p class="lead col-md-3 text-right">{{ config_details.os_version }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Storage Adapter Vendor:</p>
      <p class="lead col-md-3 text-right">{{ config_details.storage_adapter_vendor }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Storage Adapter Model:</p>
      <p class="lead col-md-3 text-right">{{ config_details.storage_adapter_model }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Storage Adapter Driver:</p>
      <p class="lead col-md-3 text-right">{{ config_details.storage_adapter_driver }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Storage Adapter Firmware:</p>
      <p class="lead col-md-3 text-right">{{ config_details.storage_adapter_firmware }}</p>
    </div>
    <div class="row">
      <p class="lead col-md-4">Data ONTAP Version:</p>
      <p class="lead col-md-3 text-right">{{ config_details.data_ontap_version }}</p>
    </div>


    {% if user.is_authenticated %}
        <h2>Comments</h2>
        <hr>
            {% for comment in object.comment_set.all %}
              <div class="row">
                <div class="well col-lg-8">
                <p>Submitted on: {{ comment.timestamp }}</p>
                <p>Submitted by: {{ comment.commenter }}</p>
                {% if comment.pre_comment_state and comment.post_comment_state %}
                    <p>State Change: {{ comment.pre_comment_state }} ---> {{ comment.post_comment_state }}</p>
                {% endif %}
                <p>Comment: {{ comment.text  }}</p>
                </div>
              </div>
            {% endfor %}

        <hr>

        {% if group_membership %}
          <h3>Add Comment:</h3>
          <form action="" method="post" class="form-horizontal">
              {% crispy comment_form %}
              <input type='hidden' name="er_slug" value="{{ object.slug }}" />
          </form>
          <br>
        {% endif %}
    {% endif %}

{% endblock %}
